
@import url(_head/header__text_head.css);



.header__text{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    background-color: transparent;

    border: none;
    outline: none;
    transition: opacity ease 1s;

}

.header__text:hover {
    cursor: pointer;
    opacity: 0.6;
}

@media screen and (min-width: 310px) and (max-width: 1430px) {
    .header__text {
        font-size: 16px;
    }
}