@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/root/root.css);
@import url(../blocks/header/header.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/search-field/search-field.css);
@import url(../blocks/world/world.css);
@import url(../blocks/about/about.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/card/card.css);
@import url(../blocks/results/results.css);
@import url(../blocks/saved-cards/saved-cards.css);
@import url(../blocks/preloader/preloader.css);
@import url(../blocks/not-found/not-found.css);

body {
  background-color: #ffffff;
}

p {
  margin-bottom: 0px;
}

h1 {
  margin-bottom: 0px;
}

h2{
  margin-bottom: 0px;
}

h3{
  margin-bottom: 0px;
}

a{
  color: #2F71E5;
  cursor: pointer;
  text-decoration: none;
  margin: auto;
}

button {
  cursor: pointer;
}
