.header__menu {
    width: 24px;
    height: 10px;
    display: none;
    margin-top: auto;
    margin-bottom: auto;
    background-color: transparent;
    border: none;
}

@media screen and (min-width: 310px) and (max-width: 760px) {
    .header__menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
}