.saved-cards__title {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
    
    width: 530px;
    height: auto;
    margin-left: 0px;
    margin-top: 28px;
}

@media screen and (min-width: 310px) and (max-width: 760px) {
    .saved-cards__title {
        font-size: 30px;
        line-height: 34px;
        width: 336px;
        margin-top: 16px;
    }   
}

@media screen and (min-width: 310px) and (max-width: 760px) {
    .saved-cards__title {
        font-size: 30px;
        line-height: 34px;
        width: calc(100% - 32px);
        margin-top: 16px;
    }   
}

  