.search-field__more {
    min-height: 56px;
    height: 64px;
    min-width: 288px;
    width: 288px;
    display: flex;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    border-radius: 80px;
    text-align: center;

    border: none;
  }