.results__container {
    width: 100%;
    max-width: 1232px;
    height: 580px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;

    overflow: hidden;

}


@media screen and (min-width: 760px) and (max-width: 1430px) {
    .results__container {
        margin-top: 32px;
        height: 420px;
    }
}

@media screen and (min-width: 310px) and (max-width: 760px) {
    .results__container {
        margin-top: 24px;
        height: 1350px;

    }
}